<h2 class="heading">Employee List</h2>
  <button type="button" class="btn btn-primary quick" routerLink="/quick">QuickAdd
</button>
  <button type="button" routerLink="/add" class="btn btn-primary float-right">Add Employee</button>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sr.no</th>
      <th scope="col">Profile Image</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody class="table-wrapper">
    <tr *ngFor = "let item of data; let i = index" >
      <td scope="row">  {{ i + 1 }}</td>
      <td>  <ngx-avatar src="http://localhost:3500/{{item.productImage}}"                              class="my-avatar" > </ngx-avatar></td>
      <td>{{item.fname}}</td>
      <td>{{item.lname}}</td>
      <td>{{item.email}}</td>
      <td><a routerLink="/update/{{item._id}}" class="btn btn-warning btn-sm">Edit</a> 
      <a class="btn btn-danger btn-sm ml-2" (click)="deleteData(item._id)">Delete</a> </td>
    </tr>
    <!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td><a routerLink="/employees/update/3" class="btn btn-warning btn-sm">Edit</a> 
      <a href="javascript:;" class="btn btn-danger btn-sm ml-2">Delete</a> </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td><a routerLink="/employees/update/3" class="btn btn-warning btn-sm">Edit</a> 
      <a href="javascript:;" class="btn btn-danger btn-sm ml-2">Delete</a> </td>
    </tr> -->
  </tbody>
</table>