<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   <div class="container login">
	    <h4>Login Form</h4>
		<label for="inputEmail4">Username</label>
		<input type="text" formControlName="username" class="form-control" placeholder="Firstname" >

		<label for="inputEmail4">Password</label>
		<input type="password" formControlName="password" class="form-control" placeholder="password" >

		
		 <button type="submit" class="btn btn-warning btn-sm">Login</button>
		 <button type="submit" class="btn btn-danger btn-sm ml-2" routerLink="/register">Register</button>
		<!-- <button type="submit" [disabled]="employeeForm.controls['fname'].invalid"   class="btn btn-primary">Submit</button> -->
		<!-- <button type="button" class="btn btn-primary" data-toggle="modal"       data-target="#myModal">
			  Forget password?
    </button> -->
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Forget password?</button>
   </div>
</form>





 
<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title">Reset Password</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form [formGroup]="loginForm" (ngSubmit)="onSubmitpass()">
					
			<div class="form-row">
				<label for="inputEmail5">Email</label>
				<input type="email" formControlName="email" class="form-control"  placeholder="Email">
			</div>
			<button type="submit" [disabled]="loginForm.controls['email'].invalid"   class="btn   btn-primary">Send</button>
			
		</form>
	</div>
</ng-template>

<!-- <div class="container">
  
 
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
         
          <div class="modal-header">
            <h4 class="modal-title">Reset Password</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
        
          <div class="modal-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmitpass()">
				
				<div class="form-row">
						<label for="inputEmail5">Email</label>
						<input type="email" formControlName="email" class="form-control"  placeholder="Email">
				</div>
				<button type="submit" [disabled]="loginForm.controls['email'].invalid"   class="btn btn-primary">Send</button>
            
            </form>
          </div>
          
        
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div> -->
  