

.datepick{
    width:  auto!important;
}
.red-text{
    color: red;
}
.genderdata input{
    margin-left: 80px;
}

form{
    width:80%;
    margin: 0 auto;
}
.heading{
    text-align:center;
    font-style: italic;
}