<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="container login">
       <h4>Registration Form</h4>
        <div class="form-row">
           <label for="inputEmail4">Username</label>
           <input type="text" formControlName="username" class="form-control" placeholder="username" >
           <div class="red-text" *ngIf="registerForm.controls.username.invalid">Usename should be minimum 4 characture long*</div>
       </div><br>
       
        <div class="form-row">
           <label for="inputEmail5">Email</label>
            <input type="email" formControlName="email" class="form-control"  placeholder="Email">
        </div>

       <div class="form-row">
          <label for="inputEmail4">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="password" >
      </div><br>

     <div class="form-row">
          <label for="inputEmail4">Confirm Password</label>
          <input type="password" formControlName="cfpassword" class="form-control" placeholder="confirm password" >
          <div class="red-text" *ngIf="registerForm.controls.cfpassword.invalid">password must be same*</div>
     </div><br>
 
 
     <!-- <label for="inputEmail4">Confirm Password</label>
     <input type="text" class="form-control" placeholder="password" > -->
    
     <button type="submit" class="btn btn-warning btn-sm" >Register</button>
    </div>
 </form>